.autocomplete-input {
  position: relative;
  display: inline-block;
  width: 100%;

  .item-container {
    position: absolute;
    border: 1px solid #d4d4d4;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    
    &__item {
      width: inherit;
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4; 

      &:hover {
        background-color: lighten($color: #6ec0d7, $amount: 20);
      }

      &--selected {
        background-color: #6ec0d7;
        color: #fff;
      }
    }
  }
}
